.container {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}
.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.container .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 20%;
    height: 48px;
    float: right;
    margin: 11px 30px;
}
.container .filters button:hover {
    opacity: .9;
}